{% include 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>{{ poll.title }}</h3>
        <a href="{% url 'list-polls' %}" class="btn btn-secondary">Back to Polls</a>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="text-center">
            <h4><p class="text-white bg-dark py-3"><b>Poll Creator:</b> {{ poll.creater.email }}</p></h4>
        </div>

        <div class="mb-4">
            <label for="user_email" class="form-label"><b>Your Email:</b></label>
            <input type="email" id="user_email" name="user_email" class="form-control" required>
        </div>

        {% for question in questions %}
        <div class="mb-4">
            <h5>{{ question.title }}</h5>
            {% for choice in question.choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option_{{ question.id }}_{{ forloop.counter }}" value="{{ choice }}" required>
                <label class="form-check-label" for="option_{{ question.id }}_{{ forloop.counter }}">
                    {{ choice }}
                </label>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}