{% include 'base.html' %}

{% block content %}
<div class="container form-poll">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="text-center">Update Poll</h3>
        <a href="{% url 'list-polls' %}" class="btn btn-secondary">Back to Polls</a>
    </div>
    <form method="post">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <div class="mb-3">
            <label for="creator" class="form-label">Creator Email</label>
            <input type="email" class="form-control" id="creator" name="creator" value="{{request.user.email}}" aria-describedby="emailHelp" disabled>
        </div>
        {% else %}
        <div class="mb-3">
            <label for="creator" class="form-label">Creator Email</label>
            <input type="email" class="form-control" id="creator" name="creator" aria-describedby="emailHelp" required>
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="poll" class="form-label">Poll Title</label>
            <input type="text" class="form-control" id="poll" name="poll" required value="{{ poll.title }}">
        </div>
        <div id="questions-container">
            {% for question in questions %}
            <div class="question-form">
                <div class="mb-3">
                    <label for="question_{{ forloop.counter }}" class="form-label">Question {{ forloop.counter }}</label>
                    <input type="text" class="form-control" id="question_{{ forloop.counter }}" name="questions[{{ forloop.counter }}][question]" required value="{{ question.title }}">
                    <button type="button" class="btn btn-danger btn-sm remove-question-btn ms-2">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                <div class="mb-3">
                    <label for="option1_{{ forloop.counter }}" class="form-label">Option 1</label>
                    <input type="text" class="form-control" id="option1_{{ forloop.counter }}" name="questions[{{ forloop.counter }}][option1]" required value="{{ question.choices.0 }}">
                </div>
                <div class="mb-3">
                    <label for="option2_{{ forloop.counter }}" class="form-label">Option 2</label>
                    <input type="text" class="form-control" id="option2_{{ forloop.counter }}" name="questions[{{ forloop.counter }}][option2]" required value="{{ question.choices.1 }}">
                </div>
                <div class="mb-3">
                    <label for="option3_{{ forloop.counter }}" class="form-label">Option 3</label>
                    <input type="text" class="form-control" id="option3_{{ forloop.counter }}" name="questions[{{ forloop.counter }}][option3]" required value="{{ question.choices.2 }}">
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary" id="add-question-btn">Add Question</button>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Update Poll</button>
        </div>
    </form>
</div>
{% endblock content %}
